* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "arcade";
 }
 
 @font-face {
   font-family: "arcade";
   src: url("../Gameplay.ttf");
 }

#theBody {
  background-image: url("../Background_images/Neon_Background.png");
  /* background-color: #0095dd; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-family: Arial, Helvetica, sans-serif; */
  min-height: 100vh;
  margin: 0;
}

/* background images */
.images {
  position: relative;
 }
 
 li {
    display: inline; 
   text-decoration: none; 
 }
 
 .firstCloud {
   position: relative;
   right: 320px;
   top: 70px;
 }
 /* .secondCloud {
   margin-top: 20px;
 } */
 
 .thirdCloud {
   position: relative;
   left: 235px;
   top: 200px;
 }


h1 {
  letter-spacing: 3px;
  font-size: 45px;
  color: #fff;
}

canvas {
  background: #000;
  display: block;
  border-radius: 5px;
}



.btn {
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background: #222;
}

.btn:active {
  transform: scale(0.98);
}

.rules-btn {
  position: absolute;
  top: 30px;
  left: 30px;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  color: #fff;
  min-height: 100vh;
  width: 400px;
  padding: 20px;
  line-height: 1.5;
  transform: translateX(-400px);
  transition: transform 1s ease-in-out;
}

.rules.show {
  transform: translateX(0);
}
.dificulty {
  display: flex;
  flex-direction: row;
}
.easy-btn ,
.med-btn ,
.hard-btn{
  font-family: "arcade";
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 50px;
}
.easy-btn:hover ,
.med-btn:hover ,
.hard-btn:hover{
  filter: brightness(150%);
}
.toggle{
  filter: brightness(25%);
}

/***** Beginnig form style *****/

#formCont {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999999999;
  /* background: wheat; */
  /* background-image: url("./watercolor-galaxy-background_79603-2384.jpg"); */
  /* border: 2px solid white; */
  padding: 40px;
  width: 400px;
  height: 300px;
  text-align: center;
  /* font-family: ; */
  /* border-radius: 20px; */
  overflow: hidden;
}

#formCont span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #17f3fd);
  animation: animate_one 2s linear infinite;
}

@keyframes animate_one
{
  0%
  {
    transform: translateX(-100%);
  }
  100%
  {
    transform: translateX(100%);
  }
}

#formCont span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #17f3fd);
  animation: animate_two 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate_two
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}

#formCont span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, #17f3fd);
  animation: animate_three 2s linear infinite;
}

@keyframes animate_three
{
  0%
  {
    transform: translateX(100%);
  }
  100%
  {
    transform: translateX(-100%);
  }
}

#formCont span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, transparent, #17f3fd);
  animation: animate_four 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate_four
{
  0%
  {
    transform: translateY(100%);
  }
  100%
  {
    transform: translateY(-100%);
  }
}



#start {
  background-color: #0b4b76;
  color: white;
  width: 40%;
  height: 30px;
  position: relative;
  margin-top: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}
#start:hover{
  background-color: #3e6987;
}

#hello {
  background-color: wheat;
  /* margin: auto; */
  text-align: center;
  padding-top: 10px;
  position: absolute;
  border: 1px solid black;
  width: 200px;
  height: 43px;
  top: 39px;
  left: 75%;
  border-radius: 8px;
}





/**************** GAME OVER POPUP ****************/
.popup{
  font-family: 'arcade';
  width: 400px;
  background-color: rgb(196, 178, 178);
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.open-popup{
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.popup>h2{
  letter-spacing: 3px;
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 20px;
}
.popup>button{
  font-family: 'arcade';
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: brown;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.popup>button:hover{
  background: rgb(188, 0, 0);
}